.app-details {
    background-color: $clr4;
    height: 684px;
    position: relative;

    .details-heading {
        width: 445px;
        height: 144px;
        font-size: 48px;
        line-height: 48px;
        color: $clr2;
        font-weight: 700;
        font-family: Livvic-Bold;
        margin: 0 173px 0 0;
        display: inline-block;
    }

    .design-pattern-details {
        width: 50px;
        height: 4px;
        background-color: $clr5;
        margin: 140px 0 62px 0;
    }

    .design-pattern-details-circle {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
