.app-details {
    background-color: $clr4;
    height: 684px;

    .details-heading {
        width: 445px;
        height: 144px;
        font-size: 48px;
        line-height: 48px;
        color: $clr2;
        font-weight: 700;
        font-family: Livvic-Bold;
        margin: 206px 173px 0 0;
        display: inline-block;
    }
}
