.details-preview {
    margin-top: 201px;
    .preview-heading {
        width: 445px;
        height: 28px;
        font-size: 18px;
        line-height: 28px;
        color: $clr5;
        font-weight: 700;
        font-family: Livvic-Bold;
    }

    .img-circle {
        margin: 0 23px 0 0;
    }

    .preview-desc {
        opacity: 0.8;
        letter-spacing: 3;
        width: 445px;
        height: 50px;
        font-size: 15px;
        line-height: 25px;
        color: $clr2;
        font-weight: 600;
        font-family: Livvic-Regular;
    }
}
