// Colors
//main background color
$clr1: #014E56;

// text color 
$clr2: #fff;
$clr3: #2C6269;
$clr4: #012F34;
$clr5: #F67E7E;
$clr6: #79C8C7;
$clr7: #979797;
$clr8: #002529;








//old colors
// $clr1: #ce2e6c;
// $clr2: #4f3a65;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;
// $clr7: #222;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 1160px;
$normal-breakpoint: 1400px;

// Old Break points
// 1- 720
// 2 - 460